@import "var-for-all";
@import "formulas";

@mixin centered {
  margin-left: auto;
  margin-right: auto;
}

html {
  font-family: Arial, sans-serif;
  font-size: $font-size;
  line-height: $sizeCell;
}

.position {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: ($sizeCell + $gapCell) * 7;
  @include centered();

  div {
    background-color: #eee;
    width: $sizeCell;
    height: $sizeCell;
    border: 1px solid #000;
    margin-bottom: $gapCell;
    margin-right: $gapCell;
    text-align: center;

    &:hover {
      background-color: pink;
      transform: translate(0, -20px);
      cursor: pointer;
      transition: transform 0.5s;
    }
  }
}
